In [90]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [91]:
all_tables= pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [92]:
all_tables[30]

   Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN

In [93]:
dict_table={}
for letter, i in zip (alphabet, range(9,65,7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Teams'}, inplace=True)
    df['Pld'] = df['Pld'].replace(['3','3','3','3'], '0')
    #df.pop('Qualification')
    dict_table[f'Group {letter}']=df

In [94]:
dict_table['Group A']

   Pos        Teams  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1  Netherlands    3  2  1  0   5   1  +4    7  Advanced to knockout stage
1    2      Senegal    3  2  0  1   5   4  +1    6  Advanced to knockout stage
2    3      Ecuador    3  1  1  1   4   3  +1    4                         NaN
3    4    Qatar (H)    3  0  0  3   1   7  −6    0                         NaN

In [95]:
df['Pld'] = df['Pld'].replace(['3','3','3','3'], '0')

In [96]:
print(df)

   Pos        Teams  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [97]:
# A -> H
# 11 -> 7*8 + 11 = 67
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(11,67,7): # 11 18 25
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    #df.pop('Qualification')
#     print(df)

11
18
25
32
39
46
53
60

In [98]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [99]:
dict_table['Group H']

   Pos        Teams  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [100]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)