In [1]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [2]:
dict_table= pickle.load(open('dict_table','rb'))
df_historical_data = pd.read_csv('clean_fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('clean_fifa_worldcup_fixture.csv')

In [3]:
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

In [4]:
df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

In [5]:
df_away

              Team  GoalsConceded  GoalsScored
0           Mexico              4            1
1        Argentina              4            2
2       Yugoslavia              6            1
3    United States              6            1
4          Belgium              1            0
..             ...            ...          ...
895     Costa Rica              2            0
896    Switzerland              1            2
897         Brazil              0            2
898           Peru              1            0
899        Belgium              1            2

[900 rows x 3 columns]

In [6]:
df_home

          Team  GoalsScored  GoalsConceded
0       France            4              1
1      Uruguay            4              2
2      Uruguay            6              1
3    Argentina            6              1
4     Paraguay            1              0
..         ...          ...            ...
895     Brazil            2              0
896     Serbia            1              2
897     Serbia            0              2
898     France            1              0
899     Brazil            1              2

[900 rows x 3 columns]

In [7]:
df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.691358       1.148148
Australia        0.812500       1.937500
Austria          1.482759       1.620690
...                   ...            ...
Uruguay          1.553571       1.321429
Wales            0.800000       0.800000
West Germany     2.112903       1.241935
Yugoslavia       1.666667       1.272727
Zaire            0.000000       4.666667

[85 rows x 2 columns]

In [8]:
 pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.691358       1.148148
Australia        0.812500       1.937500
Austria          1.482759       1.620690
...                   ...            ...
Uruguay          1.553571       1.321429
Wales            0.800000       0.800000
West Germany     2.112903       1.241935
Yugoslavia       1.666667       1.272727
Zaire            0.000000       4.666667

[85 rows x 2 columns]

In [9]:
def predict_points(home,away):
    if home in df_team_strength.index and away in df_team_strength.index:
        lamb_home = df_team_strength.at[home,'GoalsScored'] *  df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] *  df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11):
            for y in range(0,11):
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw +=p
                elif x > y:
                    prob_home +=p
                else:
                    prob_away +=p
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return(points_home, points_away)
    else:
        return (0, 0)

In [10]:
print(predict_points('England', 'United States'))
print(predict_points('Argentina', 'Mexico'))
print(predict_points('Qatar (H)', 'Ecuador'))

(2.2356147635326007, 0.5922397535606193)
(2.3129151525530505, 0.5378377125059863)
(0, 0)

In [11]:
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [12]:
for group in dict_table:
    teams_in_group = dict_table[group]['Teams'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Teams'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Teams'] == away, 'Pts'] += points_away
    
    dict_table[group] = dict_table[group].sort_values('Pts', ascending= False).reset_index()
    dict_table[group] = dict_table[group][['Teams', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [13]:
dict_table['Group H']

         Teams   Pts
0     Portugal  12.0
1      Uruguay   9.0
2        Ghana   7.0
3  South Korea   6.0

In [14]:
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Teams']
    runners_up = dict_table[group].loc[1, 'Teams']
    df_fixture_knockout.replace({f'Winners {group}':group_winner,
                                 f'Runners-up {group}':runners_up}, inplace=True)

df_fixture_knockout['winner']= '?'
df_fixture_knockout

           home     score           away  year winner
48  Netherlands  Match 49  United States  2022      ?
49    Argentina  Match 50      Australia  2022      ?
50       France  Match 52         Poland  2022      ?
51      England  Match 51        Senegal  2022      ?
52      Germany  Match 53        Morocco  2022      ?
53       Brazil  Match 54        Uruguay  2022      ?
54      Croatia  Match 55          Spain  2022      ?
55     Portugal  Match 56    Switzerland  2022      ?

In [15]:
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [16]:
 get_winner(df_fixture_knockout)

           home     score           away  year       winner
48  Netherlands  Match 49  United States  2022  Netherlands
49    Argentina  Match 50      Australia  2022    Argentina
50       France  Match 52         Poland  2022       France
51      England  Match 51        Senegal  2022      England
52      Germany  Match 53        Morocco  2022      Germany
53       Brazil  Match 54        Uruguay  2022       Brazil
54      Croatia  Match 55          Spain  2022        Spain
55     Portugal  Match 56    Switzerland  2022     Portugal

In [17]:
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [18]:
update_table(df_fixture_knockout, df_fixture_quarter)

           home     score       away  year winner
56      Germany  Match 58     Brazil  2022      ?
57  Netherlands  Match 57  Argentina  2022      ?
58        Spain  Match 60   Portugal  2022      ?
59      England  Match 59     France  2022      ?

In [19]:
get_winner(df_fixture_quarter)

           home     score       away  year       winner
56      Germany  Match 58     Brazil  2022       Brazil
57  Netherlands  Match 57  Argentina  2022  Netherlands
58        Spain  Match 60   Portugal  2022     Portugal
59      England  Match 59     France  2022       France

In [20]:
update_table(df_fixture_quarter, df_fixture_semi)

           home     score      away  year winner
60  Netherlands  Match 61    Brazil  2022      ?
61       France  Match 62  Portugal  2022      ?

In [21]:
get_winner(df_fixture_semi)

           home     score      away  year  winner
60  Netherlands  Match 61    Brazil  2022  Brazil
61       France  Match 62  Portugal  2022  France

In [22]:
update_table(df_fixture_semi, df_fixture_final)

               home     score             away  year winner
62  Losers Match 61  Match 63  Losers Match 62  2022      ?
63           Brazil  Match 64           France  2022      ?

In [23]:
get_winner(df_fixture_final)

               home     score             away  year           winner
62  Losers Match 61  Match 63  Losers Match 62  2022  Losers Match 62
63           Brazil  Match 64           France  2022           Brazil